* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    max-width: 100%;
}

.main-interface {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    padding-top: 15vh;
}

body {
    height: 3100px;
}

.main-container {
    width: 45%;
    display: flex;
    justify-content: flex-start;
    padding: 15vh;
    background-color: rgb(220, 234, 238);
}

.main-content {
    width: 100%;
}

.imgMain {
    margin-right: 4vh;
    width: 20%;
    background: url(./img/bgHome.png);
    background-size: cover;
    background-position:-8cm;
}

.about-interface , .partner-interface{
    padding-top: 15vh;
    display: flex;
    justify-content: center;
}

.about-card {
    padding-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 12.5vh;
}

.card img {
    width: fit-content;
    height: 15rem;
}

.personalValue {
    padding-top: 7.5vh;
    display: flex;
    justify-content: center;
    width: 100%;
}

.visionTitle, .missionTitle {
    width:  45%;
    height: 13vh;
    display: flex;
    justify-content: center;
}

.vision, .mission {
    width: 45%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vision img , .mission img{
    padding-top: 10vh;
}

.partner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partner-interface {
    padding-bottom: 5vh;
}

.partner-box {
    width: 80%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.FAQContainer {
    padding-top: 15vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.FAQ-interface {
    padding-bottom: 5vh;
}

.dropdown-menu .dropdown-item {
    white-space: normal; /* Menghapus 'white-space' yang sebelumnya diatur ke 'nowrap' */
    overflow: visible;   /* Menghapus 'overflow' yang sebelumnya diatur ke 'hidden' */
    text-overflow: unset; /* Menghapus 'text-overflow' yang sebelumnya diatur ke 'ellipsis' */
    word-wrap: break-word;
}

.about-card .rounded-0 {
    width: 15%;
    border: 0;
}

.card-body:hover {
    cursor: pointer;
    background: linear-gradient(to right, #f8b195, #f67280, #c06c84);
}

.about-card .rounded-0:hover {
    cursor: pointer;
    .card-body {
        cursor: pointer;
         background: linear-gradient(to right, #f8b195, #f67280, #c06c84);
    }
}

.container {
    padding-top: 5vh;
    width: 100%;
}
/* responsive */

@media only screen and (max-width: 1000px) {

    .imgMain {
        display: none;
    }

    .main-container {
        padding: 5vh;
        display: flex;
        justify-content: center;
    }

    .personalValue {
        padding-top: 20vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .visionTitle {
        width: fit-content;
    }

    .vision img {
        padding-bottom: 5vh;
    }

    .missionTitle {
        width: fit-content;
    }

}

@media (max-width: 748px) {

    .about-card {
        padding-top: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-card .rounded-0 {
        width: 25%;
      }

}

@media only screen and (max-width: 593px) {

    .main-container {
        padding: 2.5vh;
        display: flex;
        justify-content: center;
    }

    .about-card .rounded-0 {
        width: 40%;
      }
}


